*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    color: rgb(55, 0, 255);
    background-color: rgb(215, 225, 171);
    padding-left: 50px;
    padding-right: 100px;
    padding-top: 150px;
    padding-bottom: 200px;
    text-align: center;
    border: 5px solid purple;
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left: 75px;
    margin-right: 100px;
    width: 500px;
    box-sizing: content-box;
}
h2{
    color: rgb(46, 194, 91);
    background-color: rgb(219, 195, 245);
    border: 10px dotted rgb(232, 232, 129);
    text-align: end;
    border-radius: 100px;
}
h3 {
    border: 15px double greenyellow;
    padding: 10px 20px 30px;
    border-radius: 50px;
}




